In [4]:
import pandas as pd

In [31]:
df = pd.read_excel("../data/Assignment for a Data Manager Position in Gifka App.xlsx", sheet_name="Gift Card #2 - TavHaZahav")

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Card Name     165 non-null    object
 1   Card Webpage  165 non-null    object
 2   Brand_name    165 non-null    object
 3   Website       22 non-null     object
 4   Unnamed: 4    0 non-null      float64
 5   Unnamed: 5    0 non-null      float64
 6   Unnamed: 6    0 non-null      float64
 7   Unnamed: 7    0 non-null      float64
 8   Unnamed: 8    0 non-null      float64
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   1 non-null      object
dtypes: float64(6), object(5)
memory usage: 14.3+ KB

In [35]:
no_of_unique_brand_names = df['Brand_name'].nunique()
no_of_unique_brand_names

164

As mentioned in the instructions that the unique brands are different from the total entries

To better understand the repeating brand names going for language translation.

In [36]:
from googletrans import Translator
def translate_column_hebrew_to_english(text : str) -> str:
    translated = Translator().translate(text, src='he', dest='en')
    return translated.text

In [37]:
translated_text = translate_column_hebrew_to_english(text= "מקס ברנר כרמיאל")
translated_text

'Max Brenner Carmiel'

In [39]:
df['Brand_name'].dtype

dtype('O')

In [40]:
df['Brand_name(English)'] = df['Brand_name'].apply(translate_column_hebrew_to_english)

In [41]:
df['Brand_name(English)'].nunique()

163

In [45]:
df.tail()

,Card Name,Card Webpage,Brand_name,Website,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Brand_name(English)
160,Tav HaZahav Shufersal - שופרסל - תו הזהב,https://tavhazahav.shufersal.co.il/tavhazahav/,שופרסל שלי,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,My Shufersal
161,Tav HaZahav Shufersal - שופרסל - תו הזהב,https://tavhazahav.shufersal.co.il/tavhazahav/,שילב,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Incorporated
162,Tav HaZahav Shufersal - שופרסל - תו הזהב,https://tavhazahav.shufersal.co.il/tavhazahav/,שיפודי אווזי - התקווה תל אביב,https://avazi-hatikva.rest.co.il/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ozi Skewers - Hope Tel Aviv
163,Tav HaZahav Shufersal - שופרסל - תו הזהב,https://tavhazahav.shufersal.co.il/tavhazahav/,שקם אלקטריק,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consider Electric
164,Tav HaZahav Shufersal - שופרסל - תו הזהב,https://tavhazahav.shufersal.co.il/tavhazahav/,תיק התיקים,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The bag bag

After translation the text and problem seem more understandable.

Now, we would like to know the exact (correct brand name) so that we may perform some string manipulation so that we may correct all other entries having some extra text with the same brand name.

For example.

All entries with Nike plus, nike clothes, nike shoes etc should be concatenated to one Nike brand.